.categories img{
    width: 100px;
    height: auto;
}

.section-bg-color{
    background-color: #fceae8;
}

.watch-bg-color{
    background-color: #55efc4;
}

.shos-bg-color{
    background-color: #9b59b6;
}

.bag-bg-color{
    background-color: #f9ca24;
}

